<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form
      class="text-center border border-light p-5"
      [formGroup]="signUpForm"
      (ngSubmit)="onSubmit()"
      *ngIf="!isLoading"
    >

      <p class="h3 mb-4">Sign up</p>

      <input
        type="text"
        id="username"
        class="form-control"
        placeholder="Username"
        formControlName="username"
      >
      <small
        *ngIf="!signUpForm.get('username').valid && signUpForm.get('username').touched"
        id="usernameRequirements"
        style="color: red"
        class="form-text text-muted mb-4">
        Please enter username
      </small>

      <input
        type="password"
        id="password"
        class="form-control"
        placeholder="Password"
        formControlName="password"
      >
      <small
        *ngIf="!signUpForm.get('password').valid && signUpForm.get('password').touched"
        id="passwordRequirements"
        style="color: red"
        class="form-text text-muted mb-4">
        Please enter password
      </small>

      <div class="form-row mb-4">
        <div class="col">
          <input
            type="text"
            id="firstName"
            class="form-control"
            placeholder="First name"
            formControlName="firstName"
          >
          <small
            *ngIf="!signUpForm.get('firstName').valid && signUpForm.get('firstName').touched"
            id="firstNameRequirements"
            style="color: red"
            class="form-text text-muted mb-4">
            Please enter first name
          </small>

        </div>

        <div class="col">
          <input
            type="text"
            id="lastName"
            class="form-control"
            placeholder="Last name"
            formControlName="lastName"
          >
          <small
            *ngIf="!signUpForm.get('lastName').valid && signUpForm.get('lastName').touched"
            id="lastNameRequirements"
            style="color: red"
            class="form-text text-muted mb-4">
            Please enter last name
          </small>
        </div>
      </div>

      <input
        type="email"
        id="email"
        class="form-control mb-4"
        placeholder="E-mail"
        formControlName="email"
      >
      <small
        *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched"
        id="emailRequirements"
        class="form-text text-muted mb-4">
        Please enter email
      </small>

      <button class="btn btn-info my-4 btn-block"
              type="submit"
              [disabled]="!signUpForm.valid"
      >Sign up
      </button>

      <hr>

      <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>

      <p>Already have an account?
        <a routerLink="/login"><strong>Login here</strong></a>
      </p>

    </form>
  </div>
</div>
