<div class="row">
  <div class="col-xs-12">
    <h1>author: {{post.authorName}}</h1>
    <h6>created: {{post.creationDateTime}}</h6>
    <h3>title: {{post.title}}</h3>
    <p>content: {{post.content}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-default" (click)="onEditPost()">
      Edit Post
    </button>
    |
    <button class="btn btn-primary">
      Add Comment
    </button>
    |
    <button class="btn btn-danger" (click)="onDeletePost()">
      [X] Delete
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-link">
      Show Comments
    </button>
  </div>
</div>
