<div class="row">
  <div class="col-md-6">
    <h2>My profile
      <small class="text-muted">{{ "#"+user.id }}</small></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label>username</label>
  </div>
  <div class="col-md-6">
    <p>xxx</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label>first name</label>
  </div>
  <div class="col-md-6">
    <p>{{ user.firstName }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label>last name</label>
  </div>
  <div class="col-md-6">
    <p>{{ user.lastName }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label>Email</label>
  </div>
  <div class="col-md-6">
    <p>{{ user.email }}</p>
  </div>
</div>

