<a
  style="margin-top: 5px; margin-bottom: 5px; cursor: pointer"
  class="list-group-item clearfix"
  [routerLink]="[index]"
  routerLinkActive="active"
>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ post.authorName }}</h4>
    <div class="row">
      <div class="col-xs-4">
        <h5 class="list-group-item-heading">{{ post.title }}</h5>
      </div>
      <div class="col-xs-8">
        <p class="list-group-item-info small">{{ post.creationDateTime }}</p>
      </div>
    </div>
    <p class="list-group-item-text">{{ post.content }}</p>
    <hr>
    Comments(x)
  </div>
</a>
